.slidelon {
    display: flex;
    margin: auto;
}

.slideA {
    padding-left: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 270px;
    width: 60%;
}

.myslide .carousel-item {
    /* opacity: 0; */
    display: none;
}

.slideA img {
    width: 500px;
    height: 270px;
    /* display: inline-block; */
}

.slideB {
    width: 40%;
}

.slideB img {
    width: 360px;
    height: 150px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.myslide {
    width: 500px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    /* height: 100px;  */
}

.myslide img {
    width: 700px;
    height: 300px;
}

.myslide .carousel {}

.phan1 {
    /* display:flex; */
    list-style: none;
    /* width:900px; */
    margin-left: auto;
    /* list-style: none; */
    margin-right: auto;
    text-align: center;
}

.baomoi {
    margin: auto;
}

.phan1 {
    background-color: rgb(233, 81, 22);
    width: 100%;
    height: 118px;
}

.quang {
    width: 250px;
    color: white;
    padding-right: 100px;
}

ul.anho li {
    display: inline;
}

/*  */

/* .phanthan1 {
    display: flex;
    width:1320px;
    /* display:block; 
} */
/*  */

ul.anho a {
    color: white;
    text-decoration: none;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 6px;
    display: inline-block;
    padding-left: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    transition: 0.4s;
}

ul.anho a:hover {
    background-color: rgb(193, 25, 37);
    padding-top: 3px;
    padding-bottom: 9px;
}

/*  */
.phanB {
    font-size: 13px;
    font-family: segoe ui light;
    width: 60%;
    justify-content: space-between;
}



.bmotnho {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.bmotnhoq:hover {
    color: green;
    font-size: 13px;
    width: 600px;
    justify-content: space-between;
}

.bmotnho img {
    width: 250px;

}

.bmotnho {
    width: 250px;

}

.phanthan1 {
    display: flex;
    gap: 5px;
    padding-left: 20px;
}

.bmotnhoo {
    width: 650px;
    border-radius: 9px;
    padding-top: 10px;
}

.bmotnho1 {
    width: 180px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bmotnho2 {
    width: 180px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bmotnho3 {
    width: 180px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*  */
.bmotnho1a {
    padding-right: 5px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.bmotnho1b {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bmotnho2a {
    padding-right: 5px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.bmotnho2b {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bmotnho3a {
    padding-right: 5px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.bmotnho3b {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*  */
.bmotnho1:hover {
    text-decoration-line: none;
    color: green;
    font-size: 15px;
    width: 188px;
}

.bmotnho2:hover {
    text-decoration-line: none;
    color: red;
    font-size: 15px;
    width: 188px;
}

.bmotnho3:hover {
    text-decoration-line: none;
    color: rgb(189, 212, 40);
    font-size: 15px;
    width: 188px;
}

/*  */
.phanC {
    width: 40%;
    /* width:500px; */
}

.cmotnho {
    display: flex;
    /* width: 100px; */
    justify-content: space-between;
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cmotnhoa {
    width: 55px;
    padding-right: 5px;
    padding-left: 5px;


}

/* justify-content:space-between ; = khảng cách tự động giữa 2 cột*/
.cmotnhod {
    font-size: 20px;
    font-family: segoe ui light;
}

.cmotnhob {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.cmotnhoc {
    color: rgb(13, 0, 255);
    padding-left: 5px;
    padding-right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cmotnhoa:hover {
    width: 58px;
    color: rgb(23, 160, 132);
    border: 3px solid blue;
    /* justify-content:space-between */
}

.cmotnhod:hover {
    color: green;
}

.cmotnho:hover {
    color: rgb(23, 160, 132);
}

.cmotnhob:hover {
    color: rgb(23, 160, 132);
}

.cmotnhoc:hover {
    color: rgb(23, 160, 132);
}

.duoi {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.duoi a.khoinho {
    width: 200px;
    display: flex;
    height: 30px;
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    text-decoration: none;
    border-radius: 10px;
}

img.trai {
    width: 19px;
    height: 19px;

}

.duoi a.khoinho .phai {
    width: 170px;
}

.duoi a.khoinho:hover {
    color: red;
}

/*    */
.tren {
    width: 700px;
    display: flex;
    height: 90px;
    flex-wrap: wrap;
    margin-left: 20px;
    text-decoration: none;
}

._12cota {
    width: 40px;
    text-decoration: none;
}

._12cot._12cotb {
    width: 23px;
    text-decoration: none;
}

._12cota:hover {
    width: 40px;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid gray;

}